/* CSS for background, CTA, & logo */
.full-screen-bg {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100svh;
  z-index: 100;
}

.background-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1;
}

.logo-image {
  position: absolute;
  top: 21%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: calc(215px + 2vh);
  object-fit: contain;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cta-overlay {
  display: flex;
  position: absolute;
  bottom: 155px;
  text-align: center;
  align-items: center;
  justify-content: center;
  z-index: 2;
  flex-direction: column;
}

/* Updated CTA Header and Slogan Styles */

.cta-instructions {
  margin: auto;
  font-size: 22px;
  font-weight: bold;
  color: #FFFFFF;
  text-align: left;
  list-style: number;
  text-shadow: 0 1px 8px rgba(0, 0, 0, 0.5);
}

.cta-instructions li {
  margin-bottom: -2.5px;
  justify-content: left;
  display: absolute;
}

.cta-header {
  margin: auto;
  font-size: 36px;
  font-weight: 600;
  color: #FFFFFF;
  text-align: center;
  display: flex;
  justify-content: center;
  text-shadow: 0 1px 10px rgba(0, 0, 0, 0.75);
}

/* Get Started Button */
.button-container {
  position: absolute;
  bottom: 54px;
  width: 100%;
  font-size: 28px;
  display: flex;
  color: var(--hat-builder-get-started-btn-text-color);
  /* background: var(--hat-builder-get-started-btn-bg-color); */
  align-items: start;
  justify-content: center;
  border-radius: 40px;
  border: 0px;
  animation: bounce 1s infinite;
  z-index: 2;
}

button.get-started {
  position: relative;
  width: 60px;
  height: 60px;
  display: flex;
  color: var(--hat-builder-get-started-btn-text-color);
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  align-items: center;
  justify-content: center;
  border-radius: 209px;
  border: 0px;
  animation: bounce 1s infinite;
  z-index: 2;
  background-color: rgb(255 255 255 / 20%);
}

@keyframes bounce {

  0%,
  100% {
    transform: translateY(3px);
  }

  50% {
    transform: translateY(-3px);
  }
}
