/* CSS for background, CTA, & logo */
.full-screen-bg {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 73vh;
  z-index: 1;
}

.background-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1;
}

.logo-image {
  position: absolute;
  top: 21%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: calc(215px + 2vh);
  object-fit: contain;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cta-overlay {
  position: absolute;
  bottom: 55px;
  text-align: center;
  align-items: center;
  justify-content: center;
  z-index: 2;
  /* Set width and height according to your needs */
}

/* Updated CTA Header and Slogan Styles */

.cta-instructions {
  margin-top: -5px;  /* Reduced space between header and slogan */
  font-size: 22px;
  font-weight: bold;
  color: #FFFFFF;
  text-align: left;
  list-style: number;
  text-shadow: 0 1px 8px rgba(0, 0, 0, 0.5);
}

.cta-instructions li {
  margin-bottom: -2.5px;
  justify-content: left;
  display: absolute;
}

.cta-header {
  margin-bottom: 10px;  /* Reduced space */
  font-size: 36px;
  font-weight: 600;
  color: #FFFFFF;
  text-align: center;
  margin: auto;
  display: flex;
  justify-content: center;
  text-shadow: 0 1px 10px rgba(0, 0, 0, 0.75);
}

/* Get Started Button */
.button-container {
  position: absolute;
  margin-top: -123px;
  width: 100%;
  height: 300px;
  font-size: 28px;
  display: flex;
  color: var(--hat-builder-get-started-btn-text-color);
  background: var(--hat-builder-get-started-btn-bg-color);
  align-items: start;
  justify-content: center;
  border-radius: 40px;
  border: 0px;
  animation: bounce 1s infinite;
  z-index: var(--zindex-button-container);
}

button.get-started {
  position: absolute;
  width: 100%;
  height: 105px;
  font-size: 28px;
  display: block;
  color: var(--hat-builder-get-started-btn-text-color);
  background: transparent;
  align-items: center;
  justify-content: center;
  border-radius: 40px;
  border: 0px;
  animation: bounce 1s infinite;
  z-index: 250;
}

.button-image {
  position: relative;
  top: 20px;
  width: 50px;
}

.button-text {
  margin-top: 10px;
  position: relative;
  font-weight: bold;
  font-family: var(--font-body-family);
  text-shadow: 0 1px 5px rgba(0, 0, 0, 0.3);
}

@keyframes bounce {

  0%,
  100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-6px);
  }
}
